// Basic Variables
$font-size: 14px;
$roll-over-size: 100px;

$green:     #00A961;
$red:       #E13F50;
$blue:      #2572CE;
$dark-grey: #191919;
$white:     #FFFFFF;

// Simple CSS reset
* {
  margin:             0;
  padding:            0;
  font-size:          $font-size;
  font-family:        helvetica, arial,sans-serif;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
// Typographic Styles
h1, .h1
h2, .h2
h3, .h3
h4, .h4
h5, .h5
h6, .h6 {
  color: $white;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  font-family: 'helvetica-light', sans-serif;
}
h1, .h1 {
  font-size: 2em;
}
h2 .h2 {
  font-size: 1.7em;
}
h3, .h3 {
  font-size: 1.4em;
}
h4, .h4 {
  font-size: 1.15em;
}
h5, .h5 {
  font-size: 1em;
}
h6, .h6 {
  font-size: 0.85em;
}
p, ul, ol, dl, li, dd ,dt, td, tr {
  font-size: $font-size;
}


body {

}

.#{$prefix}wrapper {
  background: darken($blue,10);
}

// Inner Wrapper: Default Styles
.#{$prefix}wrapper-inner {
  background: $blue;
}

.#{$prefix}section {
  background: rgba($dark-grey, 50);
}

.demo-style-wrapper {
  width: 100%;
  height: 788px;


}