/* http://scotch.io/tutorials/off-canvas-menus-with-css3-transitions-and-transforms */
/* line 14, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_wrapper-inner {
  width: 100%;
  height: 100%;
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 0.22s ease-out;
  -moz-transition: all 0.22s ease-out;
  -ms-transition: all 0.22s ease-out;
  -o-transition: all 0.22s ease-out;
  transition: all 0.22s ease-out;
}

/* line 40, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section {
  padding: 15px;
  position: absolute;
  -webkit-transition: all 0.22s ease-out;
  -moz-transition: all 0.22s ease-out;
  -ms-transition: all 0.22s ease-out;
  -o-transition: all 0.22s ease-out;
  transition: all 0.22s ease-out;
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

/* line 56, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_top {
  width: 100%;
  height: 300px;
  top: -300px;
  left: 0px;
}

/* line 62, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_right {
  width: 300px;
  height: 100%;
  top: 0px;
  right: -300px;
}

/* line 68, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_bottom {
  width: 100%;
  height: 500px;
  bottom: -500px;
  left: 0px;
}

/* line 74, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_left {
  width: 300px;
  height: 100%;
  top: 0px;
  left: -300px;
}

/* line 81, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_top-layered {
  width: 100%;
  height: 300px;
  top: -300px;
  left: 0px;
  -moz-transform: scale(1.5) translateY(-150px);
  -webkit-transform: scale(1.5) translateY(-150px);
  -o-transform: scale(1.5) translateY(-150px);
  -ms-transform: scale(1.5) translateY(-150px);
  transform: scale(1.5) translateY(-150px);
}

/* line 93, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_right-layered {
  width: 300px;
  height: 100%;
  top: 0px;
  right: -300px;
  -moz-transform: scale(1.5) translateX(150px);
  -webkit-transform: scale(1.5) translateX(150px);
  -o-transform: scale(1.5) translateX(150px);
  -ms-transform: scale(1.5) translateX(150px);
  transform: scale(1.5) translateX(150px);
}

/* line 105, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_bottom-layered {
  width: 100%;
  height: 500px;
  bottom: -500px;
  left: 0px;
  -moz-transform: scale(1.5) translateY(250px);
  -webkit-transform: scale(1.5) translateY(250px);
  -o-transform: scale(1.5) translateY(250px);
  -ms-transform: scale(1.5) translateY(250px);
  transform: scale(1.5) translateY(250px);
}

/* line 117, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_section_left-layered {
  width: 300px;
  height: 100%;
  top: 0px;
  left: -300px;
  -moz-transform: scale(1.5) translateX(-150px);
  -webkit-transform: scale(1.5) translateX(-150px);
  -o-transform: scale(1.5) translateX(-150px);
  -ms-transform: scale(1.5) translateX(-150px);
  transform: scale(1.5) translateX(-150px);
}

/* line 133, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_top .eemjii_off_canvas_wrapper-inner, .eemjii_off_canvas_open_top .eemjii_off_canvas_section_top {
  -moz-transform: translateX(0px) translateY(300px);
  -webkit-transform: translateX(0px) translateY(300px);
  -o-transform: translateX(0px) translateY(300px);
  -ms-transform: translateX(0px) translateY(300px);
  transform: translateX(0px) translateY(300px);
}

/* line 145, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_right .eemjii_off_canvas_wrapper-inner, .eemjii_off_canvas_open_right .eemjii_off_canvas_section_right {
  -moz-transform: translateX(-300px) translateY(0px);
  -webkit-transform: translateX(-300px) translateY(0px);
  -o-transform: translateX(-300px) translateY(0px);
  -ms-transform: translateX(-300px) translateY(0px);
  transform: translateX(-300px) translateY(0px);
}

/* line 156, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_bottom .eemjii_off_canvas_wrapper-inner, .eemjii_off_canvas_open_bottom .eemjii_off_canvas_section_bottom {
  -moz-transform: translateX(0px) translateY(-500px);
  -webkit-transform: translateX(0px) translateY(-500px);
  -o-transform: translateX(0px) translateY(-500px);
  -ms-transform: translateX(0px) translateY(-500px);
  transform: translateX(0px) translateY(-500px);
}

/* line 167, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_left .eemjii_off_canvas_wrapper-inner, .eemjii_off_canvas_open_left .eemjii_off_canvas_section_left {
  -moz-transform: translateX(300px) translateY(0px);
  -webkit-transform: translateX(300px) translateY(0px);
  -o-transform: translateX(300px) translateY(0px);
  -ms-transform: translateX(300px) translateY(0px);
  transform: translateX(300px) translateY(0px);
}

/* line 178, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_top-layered .eemjii_off_canvas_wrapper-inner {
  -moz-transform: scale(0.6) rotate(0deg) translateY(300px) translateY(0px);
  -webkit-transform: scale(0.6) rotate(0deg) translateY(300px) translateY(0px);
  -o-transform: scale(0.6) rotate(0deg) translateY(300px) translateY(0px);
  -ms-transform: scale(0.6) rotate(0deg) translateY(300px) translateY(0px);
  transform: scale(0.6) rotate(0deg) translateY(300px) translateY(0px);
}
/* line 185, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_top-layered .eemjii_off_canvas_section_top-layered {
  -moz-transform: scale(1) translateY(300px);
  -webkit-transform: scale(1) translateY(300px);
  -o-transform: scale(1) translateY(300px);
  -ms-transform: scale(1) translateY(300px);
  transform: scale(1) translateY(300px);
}

/* line 196, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_right-layered .eemjii_off_canvas_wrapper-inner {
  -moz-transform: scale(0.6) rotate(0deg) translateX(-300px) translateY(0px);
  -webkit-transform: scale(0.6) rotate(0deg) translateX(-300px) translateY(0px);
  -o-transform: scale(0.6) rotate(0deg) translateX(-300px) translateY(0px);
  -ms-transform: scale(0.6) rotate(0deg) translateX(-300px) translateY(0px);
  transform: scale(0.6) rotate(0deg) translateX(-300px) translateY(0px);
}
/* line 203, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_right-layered .eemjii_off_canvas_section_right-layered {
  -moz-transform: scale(1) translateX(-300px);
  -webkit-transform: scale(1) translateX(-300px);
  -o-transform: scale(1) translateX(-300px);
  -ms-transform: scale(1) translateX(-300px);
  transform: scale(1) translateX(-300px);
}

/* line 214, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_bottom-layered .eemjii_off_canvas_wrapper-inner {
  -moz-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  -webkit-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  -o-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  -ms-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
}
/* line 221, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_bottom-layered .eemjii_off_canvas_section_bottom-layered {
  -moz-transform: scale(1) translateX(300px);
  -webkit-transform: scale(1) translateX(300px);
  -o-transform: scale(1) translateX(300px);
  -ms-transform: scale(1) translateX(300px);
  transform: scale(1) translateX(300px);
}

/* line 232, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_left-layered .eemjii_off_canvas_wrapper-inner {
  -moz-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  -webkit-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  -o-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  -ms-transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
  transform: scale(0.6) rotate(0deg) translateX(300px) translateY(0px);
}
/* line 239, ../sass/_jquery-ui.off-canvas.scss */
.eemjii_off_canvas_open_left-layered .eemjii_off_canvas_section_left-layered {
  -moz-transform: scale(1) translateX(300px);
  -webkit-transform: scale(1) translateX(300px);
  -o-transform: scale(1) translateX(300px);
  -ms-transform: scale(1) translateX(300px);
  transform: scale(1) translateX(300px);
}

/* line 249, ../sass/_jquery-ui.off-canvas.scss */
.ease {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

/* line 254, ../sass/_jquery-ui.off-canvas.scss */
.linear {
  -webkit-transition: 300ms linear all;
  transition: 300ms linear all;
}

/* line 259, ../sass/_jquery-ui.off-canvas.scss */
.ease-in {
  -webkit-transition: 300ms ease-in all;
  transition: 300ms ease-in all;
}

/* line 264, ../sass/_jquery-ui.off-canvas.scss */
.ease-out {
  -webkit-transition: 300ms ease-out all;
  transition: 300ms ease-out all;
}

/* line 269, ../sass/_jquery-ui.off-canvas.scss */
.ease-in-out {
  -webkit-transition: 300ms ease-out all;
  transition: 300ms ease-out all;
}

/* line 274, ../sass/_jquery-ui.off-canvas.scss */
.bounce {
  -webkit-transition: all 300ms cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 300ms cubic-bezier(0.32, 1.25, 0.375, 1.15);
}

/* line 279, ../sass/_jquery-ui.off-canvas.scss */
.snappy {
  -webkit-transition: all 300ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 300ms cubic-bezier(0.694, 0.0482, 0.335, 1);
}

/* line 284, ../sass/_jquery-ui.off-canvas.scss */
.out-of-orbit {
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0.61, 0.15);
  transition: all 300ms cubic-bezier(1, 0, 0.61, 0.15);
}

/* line 289, ../sass/_jquery-ui.off-canvas.scss */
.fat-kid-down-slide {
  -webkit-transition: all 300ms cubic-bezier(0.2, 1, 0.47, 0);
  transition: all 300ms cubic-bezier(0.2, 1, 0.47, 0);
}

/* line 294, ../sass/_jquery-ui.off-canvas.scss */
.none {
  -webkit-transition: none;
  -webkit-transition: none;
}

/* line 299, ../sass/_jquery-ui.off-canvas.scss */
.boring .off-canvas-content {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 306, ../sass/_jquery-ui.off-canvas.scss */
.boring .off-canvas-active .off-canvas-content {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

/* line 315, ../sass/_jquery-ui.off-canvas.scss */
.boring .off-canvas-active .off-canvas-inner {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 322, ../sass/_jquery-ui.off-canvas.scss */
.extra-pop .off-canvas-inner {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

/* line 327, ../sass/_jquery-ui.off-canvas.scss */
.extra-pop .off-canvas-content * {
  -webkit-transition: all 750ms cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 750ms cubic-bezier(0.32, 1.25, 0.375, 1.15);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 336, ../sass/_jquery-ui.off-canvas.scss */
.extra-pop .off-canvas-active .off-canvas-content * {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* line 3, ../sass/_utility.table-centered.scss */
.table-centered-container {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 9, ../sass/_utility.table-centered.scss */
.table-centered-cell {
  display: table-cell !important;
  text-align: center !important;
  vertical-align: middle !important;
}

/* line 12, ../sass/_demo-styles.scss */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: helvetica, arial,sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/_demo-styles.scss */
h1, .h1
h2, .h2
h3, .h3
h4, .h4
h5, .h5
h6, .h6 {
  color: #FFFFFF;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  font-family: 'helvetica-light', sans-serif;
}

/* line 33, ../sass/_demo-styles.scss */
h1, .h1 {
  font-size: 2em;
}

/* line 36, ../sass/_demo-styles.scss */
h2 .h2 {
  font-size: 1.7em;
}

/* line 39, ../sass/_demo-styles.scss */
h3, .h3 {
  font-size: 1.4em;
}

/* line 42, ../sass/_demo-styles.scss */
h4, .h4 {
  font-size: 1.15em;
}

/* line 45, ../sass/_demo-styles.scss */
h5, .h5 {
  font-size: 1em;
}

/* line 48, ../sass/_demo-styles.scss */
h6, .h6 {
  font-size: 0.85em;
}

/* line 51, ../sass/_demo-styles.scss */
p, ul, ol, dl, li, dd, dt, td, tr {
  font-size: 14px;
}

/* line 60, ../sass/_demo-styles.scss */
.eemjii_off_canvas_wrapper {
  background: #1d5aa3;
}

/* line 65, ../sass/_demo-styles.scss */
.eemjii_off_canvas_wrapper-inner {
  background: #2572CE;
}

/* line 69, ../sass/_demo-styles.scss */
.eemjii_off_canvas_section {
  background: #191919;
}

/* line 73, ../sass/_demo-styles.scss */
.demo-style-wrapper {
  width: 100%;
  height: 788px;
}
